html, body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

select {
  padding: 8px;
  margin: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: sans-serif;
  cursor: pointer;
}

#filter-select {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.tooltip {
  background: white;
  padding: 20px; /* Increase padding */
  border-radius: 10px; /* More rounded corners */
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Larger shadow */
  white-space: normal;
  z-index: 1001;
  max-width: 400px; /* Increase max-width */
  max-height: 600px; /* Increase max-height */
  word-wrap: break-word;  /* Ensure long words or URLs break properly */
  overflow: hidden; /* Prevent content overflow */
}

.tooltip strong {
  display: block;
  margin-bottom: 10px; /* Increase margin */
}

.tooltip p {
  margin: 10px 0; /* Increase margin */
}

.tooltip button {
  margin-top: 15px; /* Increase margin */
  padding: 10px 15px; /* Increase padding */
  background: #007bff;
  border: none;
  border-radius: 5px; /* Rounded corners */
  color: white;
  cursor: pointer;
}

.tooltip button:hover {
  background: #0056b3;
}

.tooltip iframe {
  width: 100%; /* Make iframe take full width of tooltip */
  height: auto;
  border-radius: 10px; /* Match tooltip border radius */
}
